<div class="jumbotron col-xs-12 col-md-12">
  <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
    <div class="col-xs-12 col-md-6 motto  ">
      <div class="row"   >
      <h3 class="display-3  col-md-6  col-xs-6 " style="margin-left: 0px;">Discovering Beer <br>
        Just got easier.
      </h3>
      </div>
      <br>
      <div class="row">
        <a class=" btn btn-primary btn-sm  col-xs-4  col-md-2 col-sm-2 " role="button">Learn More</a>
      </div>
    </div>

    </div>

</div>
